

<div class="container"> 
    <img src="https://www.filepicker.io/api/file/cenzuknFT1GiaSTzg4v1" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
  <div class="card bg-light mt-5" >
    <div class="card-header">
      <h4>Ingrese su identificación personal</h4>
    </div>
          <form [formGroup] ="angForm" style="padding: 15px;">

              <!--Datos del usuario-->
               <div class="row mt-2">
                  <div class="col">
                      <label>Nombre</label>
                      <input type="text" class="form-control" name="name" 
                      placeholder="Nombres" 
                      formControlName="name"
                       #name>
                       <div style="color: #f00;" *ngIf="angForm.get('name').hasError('required') && angForm.get('name').touched">El campo nombre es obligatorio</div>
                  </div>
                  <div class="col">
                      <label>Apellido Paterno</label>
                      <input type="text" class="form-control" name="lastname1" 
                      placeholder="Primer Apellido" 
                      formControlName='lastname1' 
                      #lastname1/>
                      <div style="color: #f00;" *ngIf="angForm.get('lastname1').hasError('required') && angForm.get('lastname1').touched">El campo primer apellido es obligatorio</div>
                  </div>
                  <div class="col">
                      <label>Apellido Materno</label>
                      <input type="text" class="form-control" name="lastname2" 
                      placeholder="Segundo Apellido" 
                      formControlName='lastname2' 
                      #lastname2/>
                      <div style="color: #f00;" *ngIf="angForm.get('lastname2').hasError('required') && angForm.get('lastname2').touched">El campo segundo Apellido es obligatorio</div>
                  </div> 
              </div>

              <!--Documentos-->
              <div class="row mt-3">
                <div class="col">
                    <label>4 últimos dígitos del SSN</label>
                    <input type="number" class="form-control" name="ssn" 
                    placeholder="4 últimos dígitos del SSN" 
                    formControlName="ssn"
                     #ssn>
                     <div style="color: #f00;" *ngIf=" angForm.get('ssn').invalid && (angForm.get('ssn').dirty || angForm.get('ssn').touched) ">Por favor ingrese los 4 últimos dígitos de un SSN válido</div>
                </div>
                <div class="col">
                    <label>Código Postal</label>
                    <input type="number" class="form-control" name="postalCode" 
                    placeholder="Código Postal" 
                    formControlName='postalCode' 
                    #postalCode/>
                    <div style="color: #f00;" *ngIf=" angForm.get('postalCode').invalid && (angForm.get('postalCode').dirty || angForm.get('postalCode').touched) ">Por favor ingrese un código postal válido</div>
                </div>
                <div class="col">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" class="form-control" name="birthday" 
                    placeholder="Fecha de Nacimiento" 
                    formControlName='birthday' 
                    #birthday/>
                    <div style="color: #f00;" *ngIf="angForm.get('birthday').hasError('required') && angForm.get('birthday').touched">Por favor ingrese una fecha válida</div>
                </div> 
            </div>
               
              <!--Correo y contraseña-->
              <div class="row mt-3">
                <div class="col">
                    <label>Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" 
                    placeholder="Correo Electrónico" 
                    formControlName="email"
                     #email>
                     <div style="color: #f00;" *ngIf="angForm.get('email').hasError('email') && angForm.get('email').touched">Ingrese un correo válido</div>
                </div> 
                <div class="col">
                  <p><strong>Tener en cuenta:</strong></p>
                  <p>El correo electrónico será el usuario para acceder a su cuenta</p>
                </div>
            </div>

            <!--Cuarta FILA-->
            <div class="row mt-3"> 
              <div class="col">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" name="password" 
                  placeholder="Contraseña" 
                  formControlName='password' 
                  #password/>
                  <div style="color: #f00;" *ngIf=" angForm.get('password').invalid && (angForm.get('password').dirty || angForm.get('password').touched) ">Por favor ingrese una contraseña válida</div>
              </div>
              <div class="col">
                <p><strong>La contraseña debe contener:</strong></p>
                <p>8 a 20 carácteres, Números </p>
              </div>
          </div>

          <!--QUINTA FILA-->
          <div class="row mt-3"> 
            <div class="col">
                <input type="password" class="form-control" name="confirmPassword" 
                placeholder="Confirmar Contraseña" 
                formControlName='confirmPassword' 
                #confirmPassword/>
                <div style="color: #f00;" *ngIf=" angForm.get('confirmPassword').invalid && (angForm.get('confirmPassword').dirty || angForm.get('confirmPassword').touched) ">Las contraseñas no coinciden</div>
              </div>
            <div class="col">
              <p>Caracteres especiales como /-d$@$!%*?&</p>
            </div>
        </div>
              

              <!--BOTON DE ENVÍO-->
              <div class="row mt-3">
                <div class="col">
                <input [disabled]="angForm.invalid" type="submit" value="Registrar" class="btn btn-info btn-block" (click)= "onClickSubmit(name.value, lastname1.value, lastname2.value , ssn.value, postalCode.value, birthday.value,email.value, password.value, confirmPassword.value)">
              </div>
              </div>
              
          </form>
  </div>
</div> 


<router-outlet></router-outlet>